:root {
  --background-color: rgba(255, 99, 42, 0.068);
  --button-color: rgb(255, 99, 42);
  --primary-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
}

h2 {
  font-size: 46px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--background-color);
  text-align: center;
  font-family: var(--primary-font);
  padding: 160px 20px;
}

.hero h1 {
  font-weight: 700;
  font-size: 86px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.hero h2 {
  font-size: 24px;
}

.hero h3 {
  font-size: 18px;
}

.btn-branding {
  background-color: var(--button-color);
  color: white;
  border-radius: 8px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.button-position {
  text-align: center;
}

.btn-branding-outline {
  border-color: var(--button-color);
  color: black;
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline:hover {
  border-color: black;
  color: var(--button-color);
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
}

.product-description {
  padding: 120px 60px;
}

@media (max-width: 992px) {
  .product-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 56px;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h3 {
    font-size: 14px;
  }

  .btn-branding {
    font-size: 14px;
    padding: 8px 20px;
  }

  .product-description h2 {
    font-size: 36px;
  }

  .product-description p {
    font-size: 14px;
  }
}
