:root {
  --background-color: rgba(255, 99, 42, 0.295);
  --button-color: rgb(255, 99, 42);
  --primary-font: "Roboto", sans-serif;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav {
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--button-color);
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

h2 {
  font-size: 46px;
  font-weight: 700;
}

h3 {
  font-family: var(--primary-font);
}

h4 {
  font-size: 42px;
  line-height: 1.5;
  color: var(--button-color);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.container {
  padding: 0;
}

.hero-logo {
  width: 110px;
}

.hero {
  background: var(--background-color);
  text-align: center;
  font-family: var(--primary-font);
  padding: 100px 20px;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  color: var(--button-color);
}

.hero h2 {
  font-size: 24px;
  color: white;
}

.hero h3,
footer p {
  font-size: 18px;
  color: white;
}

.btn-branding {
  background-color: var(--button-color);
  color: white;
  border: 1px solid;
  border-color: var(--button-color);
  border-radius: 8px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  color: var(--button-color);
  background-color: white;
}

.button-position {
  text-align: center;
}

.btn-branding-outline {
  border-color: var(--button-color);
  color: black;
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline:hover {
  border-color: black;
  color: var(--button-color);
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
}

.product-description {
  padding: 120px 60px;
}

.logo {
  width: 50px;
}

.brand-name {
  font-family: var(--primary-font);
}

.bg-light {
  background-color: white !important;
}

.logo-top-of-page {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-container {
  margin-bottom: 20px;
  padding: 60px 20px;
}

.content-container h1 {
  text-align: center;
  font-size: 64px;
  font-family: var(--primary-font);
  font-weight: 700;
  margin-bottom: 80px;
}

.about-me-buttons {
  text-align: center;
}

.content-container a {
  color: var(--button-color);
  text-decoration: none;
}

.content-container a:hover {
  color: black;
  text-decoration: none;
}

.content-container ul {
  list-style: none;
}

.content {
  margin: 0px 30px;
}

.contact-content {
  text-align: center;
}

.nav-bar {
  padding: 5px 0;
}

.nav-container {
  margin: 5px 20px;
}

.social-links {
  margin: 40px 0px 60px 0px;
}

.footer-social-links {
  margin: 0px 10px;
  padding: 10px 15px;
  color: white;
  background-color: var(--background-color);
  border-radius: 20px;
}

.footer-social-links:hover {
  color: var(--button-color);
}

.page-link {
  color: var(--button-color) !important;
  border-color: white;
}

.page-link:hover {
  background-color: var(--background-color);
  border-color: var(--background-color);
}

footer .contact-box {
  background: var(--background-color);
  padding: 30px;
  border-radius: 10px;
}

.contact-button {
  margin-top: 40px;
}

@media (max-width: 992px) {
  h4 {
    font-size: 32px;
  }

  footer p {
    font-size: 14px;
  }

  footer {
    margin-top: 80px;
  }
  .product-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 56px;
    letter-spacing: 0.05em;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h3 {
    font-size: 14px;
  }

  .btn-branding {
    font-size: 14px;
    padding: 8px 20px;
  }

  .product-description h2 {
    font-size: 36px;
  }

  .product-description p {
    font-size: 14px;
  }

  .content {
    text-align: center;
    padding-top: 20px;
  }

  .content-container {
    padding-bottom: 0;
  }

  .images-gallery {
    padding-bottom: 20px;
  }

  .hero-logo {
    width: 100px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }

  .content-container {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .content-container h1 {
    margin-bottom: 20px;
    font-size: 42px;
  }

  .content-container h2 {
    font-size: 36px;
  }

  .logo-top-of-page {
    max-width: 80px;
  }

  .product-description {
    padding-bottom: 20px;
  }

  .nav-container {
    justify-content: center !important;
  }

  nav a {
    font-size: 16px;
    margin: 5px;
  }
}
